@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --foreground: 200 10% 10%;

    --card: 200 20% 98%;
    --card-foreground: 200 10% 10%;

    --popover: 200 20% 98%;
    --popover-foreground: 200 10% 10%;

    --primary: 196 79% 49%;
    --primary-foreground: 200 20% 98%;

    --secondary: 200 10% 94%;
    --secondary-foreground: 200 10% 10%;

    --muted: 200 10% 94%;
    --muted-foreground: 200 10% 45%;

    --accent: 271 76% 53%;
    --accent-foreground: 200 20% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 200 20% 98%;

    --border: 200 10% 90%;
    --input: 200 10% 90%;
    --ring: 196 79% 49%;

    --chart-1: 196 79% 49%;
    --chart-2: 271 76% 53%;
    --chart-3: 270 90% 65%;
    --chart-4: 280 85% 70%;
    --chart-5: 290 80% 75%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 200 10% 10%;
    --foreground: 200 20% 98%;

    --card: 200 10% 10%;
    --card-foreground: 200 20% 98%;

    --popover: 200 10% 10%;
    --popover-foreground: 200 20% 98%;

    --primary: 196 79% 49%;
    --primary-foreground: 200 20% 98%;

    --secondary: 200 10% 15%;
    --secondary-foreground: 200 20% 98%;

    --muted: 200 10% 15%;
    --muted-foreground: 200 10% 65%;

    --accent: 271 76% 53%;
    --accent-foreground: 200 20% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 200 20% 98%;

    --border: 200 10% 20%;
    --input: 200 10% 20%;
    --ring: 196 79% 49%;
  }
}

@layer base {
  html {
    @apply text-lg;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.animated-gradient {
  background-size: 200% 200%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
